body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}


.form-title-color {
    color: #a2a2a2;
}

.form-text-color {
    color: #868484;
}

.btn-sign-in {
    text-align: center"

}

.forget-link {
    align-self: flex-end;
    font-size: 0.7rem;

}

.main-container-15 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 100fr / repeat(2, 50fr);
    grid-template-areas: "login-image login-inputs";
}

.login-image {
    grid-area: login-image;
    background: url("/img/brid.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 700px; */
}

.login-inputs {
    grid-area: login-inputs;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem;
}

.logo-container {
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: #4DB6AC
}

.welcome-title {
    /* font-size: 2rem; */
    color: #616161;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0
}

label {
    font-size: 0.7rem;
    color: #a9a9a9;
}

input {
    border: none;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.75);
    /* border-radius: 5px */
    /* box-shadow: inset 5px 5px 5px #CCC; */
    margin-bottom: 41px;
}

hr {
    border: none;
    border-top: 1px solid #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 500px;
}

hr:after {
    background: #fff;
    content: 'or';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
